body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ffd5c2;
}

.mainpage {
  display: grid;
  grid-template-rows: minmax(100px, 1fr) 5fr;
  height: 100%;
  position: relative;
  overflow: auto;
}

.header {
  background-color: #c8553d;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 0px 0px 0px #000000;
}

.library {
  display: grid;
  grid-template-columns: repeat(auto-fill, clamp(500px, 33%, 50%));
  grid-template-rows: repeat(auto-fill, 250px);
  margin: 10px;
  gap: 10px;
}

.book {
  background-color: #588b8b;
  border: 2px solid #0c4a60;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
  padding: 20px;
}

.title {
  font-weight: 600;
  font-size: 2rem;
}

.author {
  font-size: 1.75rem;
  color: rgb(49, 49, 49);
  font-style: italic;
  margin-bottom: 10px;
}

dialog {
  position: absolute;
  height: 500px;
  width: 350px;
  bottom: 20vh;
  border-radius: 10px;
  background-color: #c8553d;
  color: #ffffff;
  border-color: #0c4a60;
  z-index: 1;
}

legend {
  font-size: 2.5rem;
  font-weight: 600;
}

input {
  font-size: 1.25rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

input[type="checkbox"] {
  margin: 10px 10px;
  accent-color: #0c4a60;
  transform: scale(2);
  width: 30px;
}

h1 {
  color: #ffffff;
  font-weight: 500;
  margin-left: 20px;
}

button {
  color: #ffffff;
  border-radius: 5px;
  background-color: #588b8b;
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px;
}

button:hover {
  background-color: #456e6e;
}

.close,
.remove {
  position: absolute;
  border: none;
  font-size: 1.25rem;
  margin: 5px;
  line-height: 1rem;
}

.close {
  top: 5px;
  right: 5px;
  background: #588b8b;
  margin: 0px;
}

.close:hover {
  background-color: #456e6e;
}

.remove {
  top: 0;
  right: 0;
}
